.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.product {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 100px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  background-color: transparent;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  width: 400px;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 50%;
  height: 50%;
}

.product .description {
  text-align: center;
}

.addToCartBttn {
  background-color: #ff5e62;
  color: #fff;
  padding: 15px 25px;
  border: none;
  border-radius: 50px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.addToCartBttn:hover {
  background-color: #e05357;
}

.searchBar {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
}

.searchBar input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.searchBar input:focus {
  border-color: #3498db;
}
